* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.slide {
    border: 5px solid lightgray;
    max-width: 600px;
    width: 80%;
    margin:auto;
    position: relative;
}
li {
    list-style-type: none;
}
img{
    width:100px;
}
.slide-wrap{
    border:1px solid red;
}
.btn, 
.slider-dot{
    border: 1px solid skyblue;
    position:absolute;
}
.btn {
    top:50%;
}
.prev {
    left: -50px;
}
.next{
    right: -50px;
}
.slider-wrap{
    border:5px solid lightgreen;
    /* overflow: hidden; */
}
.sliderUl {
    border:5px slateblue;
    display: flex;
    width: 300%;
    transform: translateX(-33.3333%);
}
.slider{
    border:5px solid red;
    width : calc(100%/3);
}
.slider > div {
    position: relative;
    padding-top: 35%;
    overflow: hidden;
}
.slider:nth-of-type(3) ~ .slider{
    display: none;
}
.slider > div > * {
    position: absolute;
    top:0;
    left: 0;
}
.slider > div img {
    width:100%;
    height: 100%;
    object-fit: cover;
}
.slider > div p {
    z-index: 1;
    background-color: black;
    color: white;
    padding: 2rem;
}