<!DOCTYPE html>
<html lang="ko">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>작삼예제</title>
		<link rel="stylesheet" href="/css/style.css" />
	</head>
	<body>
		<header>
			<h1>작삼샘플</h1>
			<nav>
				<a href="/">작성하기</a>
				<a href="/list">목록보기</a>
			</nav>
		</header>
