.sec1 {
    /* border:1px solid red; */
    position: relative;
}
.bannerCon{
    /* border: 1px solid lightblue; */
    padding: auto;
}
.bannerCon .swiper-slide {
    width: 60%;
    /* height: 300px; */
    padding-top: 35%;
    position: relative;
    border-radius: 1rem;
    overflow: hidden;
}
.bannerCon img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    top:0;
}
.bannerCon .next1,
.bannerCon .prev1 {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgb(201, 209, 215);
    backdrop-filter: blur(2px);
}

.bannerCon .next1{
    right: 15%;
}
.bannerCon .prev1 {
    left: 15%;
    transform: translateX(10px);
}

.bannerCon .next1::after,
.bannerCon .prev1::after {
    content:"";
    width: 30%;
    height: 30%;
    border-top:3px solid tomato;
    border-right: 3px solid tomato;
    transform: rotate(45deg);
}
.bannerCon .prev1::after {
    transform: rotate(-135deg);
}
.bannerCon .pg1 {
    /* width: auto; */
    left:auto;
    right:0;
    bottom: 0px;
}