* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    background-color: #eaeaea;
  }
  .wrap {
    border: 1px solid red;
    max-width: 500px;
    width: 80%;
    height: calc(100vh - 100px);
    margin: 50px auto;
    border-radius: 2rem;
    overflow: hidden;
  }
  h1,
  footer {
    text-align: center;
    background: linear-gradient(
      -40deg,
      rgba(235, 176, 51, 1) 0%,
      rgba(252, 110, 69, 1) 100%
    );
  }
  
  h1 {
    height: 100px;
    line-height: 100px;
    color: white;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  }
  footer {
    height: 150px;
  }
  .itemInput {
    width: 100%;
    padding: 1rem;
    border: none;
    outline: none;
    /* border:5px solid red; */
  }
  
  .items {
    height: calc(100vh - 350px);
    overflow-y: scroll;
    background-color: rgb(254, 254, 234);
    padding: 20px 1rem;
    /* border:5px solid red; */

  }
  .item {
    /* padding: 1rem; */
    display: flex;
    justify-content: space-between;
    border-bottom: 1px dotted #eaeaea;
    /* border:5px solid red; */
  }
  
  .item span {
    width: calc(100% - 50px);
    /* flex: 1; */
    padding: 1rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;   
  }
  .deletBtn {
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    
  }
  .deletBtn:hover {
    color: tomato;
  }
  .addBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 50px;
    height: 50px;
    background-color: black;
    color: white;
    border-radius: 50%;
    margin-top: 1rem;
    cursor: pointer;
  }
  .addBtn:hover {
    background-color: white;
    color: black;
  }