header {
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
}

header ul {
    list-style: none;
}

header .gnb-background {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 150px;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1;
}

header a {
    text-decoration: none;
    color: inherit;
}

header nav > ul {
    display: flex;
    justify-content: space-around;
}

.sub-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: mediumspringgreen;
    width: 100%;
    padding: 0 10px;
    z-index: 1;
}

.sub-menu li {
    margin: 5px 0;
}

header nav > ul > li {
    position: relative;
}

header nav ul > li:hover > .sub-menu,
header nav ul > li:focus-within > .sub-menu {
    display: block;
}

header nav ul > li:hover > .gnb-background,
header nav ul > li:focus-within > .gnb-background {
    display: block;
}
