section {
    width: 80%;
    margin: auto;
    display: flex;
    gap:1rem;
}
section img {
    width:50%;
}
.card{
    flex: 1;
    position: relative;
    padding-top:40%;
}
.card > p {
    height: 100%;
    position: absolute;
    top:0;
    display:flex;
    justify-content: center;
    align-items: center;
}
.front {

}
.back {

}
.card:hover .front {

}
.card:hover .back {

}